
.yaybar ul>li.yay-user-info {
    background-color: #176CC1;
}
.nano > .nano-content {
    background-color: #35384C;
}
.yaybar .nano > .nano-content{
    background: #1976D2;
}
.content-wrap .page-title {
    padding: 0.3rem 2rem;
}