{% extends 'DashboardBundle:Common:backend2.html.twig' %}

{% block breadcrumb %}
	<li><a href="#">Templates</a></li>
{% endblock breadcrumb%}

{% block content %}
<style>
    .card .card-action.card-action-templeate{
        border-top: 1px solid rgba(160, 160, 160, .2);
        padding: 10px 0px 10px 10px;
    }
    .card.small .card-image.card-image-templeate {
        height: 100%;
    }
</style>
<div class="card">
  <div class="title">
      <h5> <i class="mdi mdi-av-web"></i> Templeates </h5>
  </div>
  <div class="content">

  <div class="row">
    {% for template in templates %}
    <div class="col m3">
      <div class="card small ">
        <div class="card-image card-image-templeate hoverable"><img src="{{asset('bundles/dashboard/images/templates/' ~ template.image)}}">
          <div class="card-action card-action-templeate">
            <a href="{{path('flyer_create', {'property_id':property_id, 'property_type':property_type, 'id_template':template.id})}}" class="azure-text">{{template.name}}</a>
            <a href="#" class="azure-text right"><i class="fa fa-heart"></i></a>
            <a href="#" class="azure-text right"><i class="fa fa-share-alt"></i></a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <div class="row">
    <ul class="pagination center">
        <li class="disabled"><a href="#!"><i class="mdi-navigation-chevron-left"></i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="mdi-navigation-chevron-right"></i></a></li>
    </ul>
  </div>
</div>
{% endblock content %}