{% extends 'DashboardBundle:Common:backend2.html.twig' %}

{% block breadcrumb %}
	<li><a href="#">Profile</a></li>
{% endblock breadcrumb%}

{% block content %}

	<style>

		.card.small .card-image.card-image-profile {
			height: 100%;
		}
		.pmop-edit:hover {
			background: rgba(0, 0, 0, 0.8);
			opacity: 1;
		}
		.pmop-edit {
			position: absolute;
			top: 0;
			left: 0;
			color: #fff;
			background: rgba(0, 0, 0, 0.38);
			text-align: center;
			padding: 10px 10px 11px;
			-webkit-transition: opacity;
			-o-transition: opacity;
			transition: opacity;
			-webkit-transition-duration: 250ms;
			transition-duration: 250ms;
			z-index: 20;
			width: 100%;
			opacity: 0.8;
		}
		.pmo-block {
			padding: 0px;
		}
		.pmo-block-tab {
			padding: 25px;
		}
		.pmo-block > h2 {
			font-size: 16px;
			margin: 0 0 0px;
			color: #424242;argin: 0 0 15px;
		}
		.pmo-contact ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.pmo-contact ul li {
			position: relative;
			padding: 8px 0 8px 35px;
		}
		.pmo-contact ul li i {
			font-size: 18px;
			vertical-align: top;
			line-height: 100%;
			position: absolute;
			left: 0;
			width: 18px;
			text-align: center;
		}
		.tab-nav {
			 list-style: none;
			 padding: 0;
			 white-space: nowrap;
			 margin: 0;
			 overflow: hidden;
			 box-shadow: inset 0 -2px 0 0 #eeeeee;
			 width: 100%;
		 }
	</style>
		<div class="row">
			<div class="col m3" style="padding-right: 20px;">
				<div class="card small" style="background-color: #F8F8F8;color: #5E5E5E;">

					<a href="" class="pmop-edit">
						<i class="mdi mdi-image-photo-camera"></i> <span class="hidden-xs">Update Profile Picture</span>
					</a>
					<div class="card-image card-image-profile">
						<img src="{{ asset('bundles/dashboard/people/01.jpg') }}">
					</div>
					<div class="card-action">
						<div class="pmo-block pmo-contact hidden-xs">
							<h2>Contact</h2>

							<ul>
								<li><i class="mdi mdi-communication-phone"></i> 00971 12345678 9</li>
								<li><i class="mdi mdi-communication-email"></i> malinda-h@gmail.com</li>
								<li><i class="fa fa-facebook-official"></i> malinda.hollaway</li>
								<li><i class="fa fa-twitter"></i> @malinda (twitter.com/malinda)</li>
								<li>
									<i class="mdi mdi-communication-location-on"></i>
									<address class="m-b-0 ng-binding">
										44-46 Morningside Road,<br>
										Edinburgh,<br>
										Scotland
									</address>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col m9" style="border-left: 1px solid #eee;background-color: #FFFFFF;min-height: 570px;border-bottom: 1px solid #eee;">
				<div class="row" style="margin-top: 0px">
					<div class="col s12">
						<ul class="tabs tab-nav">
							<li class="tab col s1 waves-effect"><a href="#test1" class="active">ABOUT</a></li>
							<li class="tab col s1 waves-effect"><a href="#test2">CONTACTS</a></li>
							<li class="tab col s1 waves-effect"><a href="#test3">Test 3</a></li>
						</ul>
					</div>
					<div id="test1" class="col s12">Test 1</div>
					<div id="test2" class="col s12">Test 2</div>
					<div id="test3" class="col s12">Test 3</div>
				</div>
			</div>
		</div>
	<br>
{% endblock content%}


