{% extends 'DashboardBundle:Common:backend.html.twig' %}

{% block breadcrumb %}
	<li><a href="#">Profile</a></li>
{% endblock breadcrumb%}

{% block content %}
	<div class="row">
		<div class="content col-sm-8 col-md-9">
			<h1 class="page-header">Agent Detail</h1>

			<p class="text mb30">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum molestie diam quis congue.
				Duis rutrum metus vitae lorem ornare, ac ullamcorper sem ullamcorper. Sed vehicula imperdiet egestas.
				Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus volutpat fringilla massa, eget
				tempus nunc. Ut posuere sodales eros, bibendum luctus nunc facilisis quis. Fusce hendrerit sodales
				auctor.
			</p>

			<div class="module">
				<div class="module-content">
					<div class="agent-card">
						<div class="row">
							<div class="col-sm-12 col-md-4 mb30">
								<a href="agents-detail.html#" class="agent-card-image">
									<img src="{{ asset('bundles/dashboard/people/01.jpg') }}" alt="Avatar">
								</a><!-- /.agent-card-image -->
							</div>

							<div class="col-sm-12 col-md-3">
								<h2>Information</h2>

								<div class="agent-card-info">
									<ul>
										<li>Effectivity Real Estate</li>
										<li>Wardrobe Street 90210</li>
										<li>London, United Kingdom</li>
									</ul>

									<br>

									<ul>
										<li><i class="fa fa-phone"></i> 0123 123 123</li>
										<li><i class="fa fa-at"></i> <a href="agents-detail.html#">E-mail address</a>
										</li>
										<li><i class="fa fa-globe"></i> <a href="http://example.com">example.com</a>
										</li>
									</ul>
								</div><!-- /.agent-card-info -->
							</div>

							<div class="col-sm-12 col-md-5 mb30">
								<h2>Contact Form</h2>

								<div class="agent-card-form">
									<form method="post"
										  action="http://html.realsite.byaviators.com/agents-detail.html?">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Subject">
										</div><!-- /.form-group -->

										<div class="form-group">
											<input type="email" class="form-control" placeholder="E-mail">
										</div><!-- /.form-group -->

										<div class="form-group">
											<textarea class="form-control" placeholder="Message"
													  style="overflow: hidden; word-wrap: break-word; height: 68px;"></textarea>
										</div><!-- /.form-group -->
									</form>
								</div><!-- /.agent-card-form -->
							</div>
						</div>
					</div><!-- /.agent-card-->
				</div><!-- /.module-content -->
			</div><!-- /.module -->

			<h2 class="page-header">My Properties</h2>

			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="property-box">
						<div class="property-box-image">
							<a href="agents-detail.html#">
								<img src="assets/img/tmp/medium/1.jpg" alt="">

			<span class="property-box-excerpt">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum nibh. Vivamus vehicula consequat justo, id molestie nisl feugiat dignissim. Nam a blandit leo, a porta nisl.
			</span>
							</a>
						</div><!-- /.property-image -->

						<div class="property-box-content">
							<div class="property-box-meta">
								<div class="property-box-meta-item">
									<span>Baths</span>
									<strong>2</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Beds</span>
									<strong>4</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Garages</span>
									<strong>1</strong>
								</div><!-- /.property-box-meta-item -->
							</div><!-- /.property-box-meta -->
						</div><!-- /.property-box-content -->

						<div class="property-box-bottom">
							<div class="property-box-price">
								$ 17,000
							</div><!-- /.property-box-price -->

							<a href="agents-detail.html#" class="property-box-view">
								View Detail
							</a><!-- /.property-box-view -->
						</div><!-- /.property-box-bottom -->
					</div><!-- /.property-box -->
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="property-box">
						<div class="property-box-image">
							<a href="agents-detail.html#">
								<img src="assets/img/tmp/medium/2.jpg" alt="">

			<span class="property-box-excerpt">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum nibh. Vivamus vehicula consequat justo, id molestie nisl feugiat dignissim. Nam a blandit leo, a porta nisl.
			</span>
							</a>
						</div><!-- /.property-image -->

						<div class="property-box-content">
							<div class="property-box-meta">
								<div class="property-box-meta-item">
									<span>Baths</span>
									<strong>2</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Beds</span>
									<strong>4</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Garages</span>
									<strong>1</strong>
								</div><!-- /.property-box-meta-item -->
							</div><!-- /.property-box-meta -->
						</div><!-- /.property-box-content -->

						<div class="property-box-bottom">
							<div class="property-box-price">
								$ 17,000
							</div><!-- /.property-box-price -->

							<a href="agents-detail.html#" class="property-box-view">
								View Detail
							</a><!-- /.property-box-view -->
						</div><!-- /.property-box-bottom -->
					</div><!-- /.property-box -->
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="property-box">
						<div class="property-box-image">
							<a href="agents-detail.html#">
								<img src="assets/img/tmp/medium/3.jpg" alt="">

			<span class="property-box-excerpt">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum nibh. Vivamus vehicula consequat justo, id molestie nisl feugiat dignissim. Nam a blandit leo, a porta nisl.
			</span>
							</a>
						</div><!-- /.property-image -->

						<div class="property-box-content">
							<div class="property-box-meta">
								<div class="property-box-meta-item">
									<span>Baths</span>
									<strong>2</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Beds</span>
									<strong>4</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Garages</span>
									<strong>1</strong>
								</div><!-- /.property-box-meta-item -->
							</div><!-- /.property-box-meta -->
						</div><!-- /.property-box-content -->

						<div class="property-box-bottom">
							<div class="property-box-price">
								$ 17,000
							</div><!-- /.property-box-price -->

							<a href="agents-detail.html#" class="property-box-view">
								View Detail
							</a><!-- /.property-box-view -->
						</div><!-- /.property-box-bottom -->
					</div><!-- /.property-box -->
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="property-box">
						<div class="property-box-image">
							<a href="agents-detail.html#">
								<img src="assets/img/tmp/medium/4.jpg" alt="">

			<span class="property-box-excerpt">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum nibh. Vivamus vehicula consequat justo, id molestie nisl feugiat dignissim. Nam a blandit leo, a porta nisl.
			</span>
							</a>
						</div><!-- /.property-image -->

						<div class="property-box-content">
							<div class="property-box-meta">
								<div class="property-box-meta-item">
									<span>Baths</span>
									<strong>2</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Beds</span>
									<strong>4</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Garages</span>
									<strong>1</strong>
								</div><!-- /.property-box-meta-item -->
							</div><!-- /.property-box-meta -->
						</div><!-- /.property-box-content -->

						<div class="property-box-bottom">
							<div class="property-box-price">
								$ 17,000
							</div><!-- /.property-box-price -->

							<a href="agents-detail.html#" class="property-box-view">
								View Detail
							</a><!-- /.property-box-view -->
						</div><!-- /.property-box-bottom -->
					</div><!-- /.property-box -->
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="property-box">
						<div class="property-box-image">
							<a href="agents-detail.html#">
								<img src="assets/img/tmp/medium/5.jpg" alt="">

			<span class="property-box-excerpt">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum nibh. Vivamus vehicula consequat justo, id molestie nisl feugiat dignissim. Nam a blandit leo, a porta nisl.
			</span>
							</a>
						</div><!-- /.property-image -->

						<div class="property-box-content">
							<div class="property-box-meta">
								<div class="property-box-meta-item">
									<span>Baths</span>
									<strong>2</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Beds</span>
									<strong>4</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Garages</span>
									<strong>1</strong>
								</div><!-- /.property-box-meta-item -->
							</div><!-- /.property-box-meta -->
						</div><!-- /.property-box-content -->

						<div class="property-box-bottom">
							<div class="property-box-price">
								$ 17,000
							</div><!-- /.property-box-price -->

							<a href="agents-detail.html#" class="property-box-view">
								View Detail
							</a><!-- /.property-box-view -->
						</div><!-- /.property-box-bottom -->
					</div><!-- /.property-box -->
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="property-box">
						<div class="property-box-image">
							<a href="agents-detail.html#">
								<img src="assets/img/tmp/medium/6.jpg" alt="">

			<span class="property-box-excerpt">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum nibh. Vivamus vehicula consequat justo, id molestie nisl feugiat dignissim. Nam a blandit leo, a porta nisl.
			</span>
							</a>
						</div><!-- /.property-image -->

						<div class="property-box-content">
							<div class="property-box-meta">
								<div class="property-box-meta-item">
									<span>Baths</span>
									<strong>2</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Beds</span>
									<strong>4</strong>
								</div><!-- /.property-box-meta-item -->

								<div class="property-box-meta-item">
									<span>Garages</span>
									<strong>1</strong>
								</div><!-- /.property-box-meta-item -->
							</div><!-- /.property-box-meta -->
						</div><!-- /.property-box-content -->

						<div class="property-box-bottom">
							<div class="property-box-price">
								$ 17,000
							</div><!-- /.property-box-price -->

							<a href="agents-detail.html#" class="property-box-view">
								View Detail
							</a><!-- /.property-box-view -->
						</div><!-- /.property-box-bottom -->
					</div><!-- /.property-box -->
				</div>
			</div><!-- /.row -->
		</div><!-- /.content -->

		<div class="sidebar col-sm-4 col-md-3">
			<div class="widget">
				<div class="widget-title">
					<h2>My Contacts</h2>
				</div><!--/.widget-title -->

				<div class="widget-content">
					<div class="agent-small">
						<div class="agent-small-inner">
							<div class="agent-small-image">
								<a href="agents-detail.html#" class="agent-small-image-inner">
									<img src="{{ asset('bundles/dashboard/people/02.jpg') }}" alt="">
								</a><!-- /.agent-small-image-inner -->
							</div><!-- /.agent-small-image -->

							<div class="agent-small-content">
								<h3 class="agent-small-title">
									<a href="agents-detail.html#">Caelan Sinclair</a>
								</h3>

								<div class="agent-small-email">
									<i class="fa fa-at"></i> <a href="agents-detail.html#">E-mail Address</a>
								</div><!-- /.agent-small-email -->

								<div class="agent-small-phone">
									<i class="fa fa-phone"></i> 1401-123-456
								</div><!-- /.agent-small-phone -->
							</div><!-- /.agent-small-content -->
						</div><!-- /.agent-small-inner -->
					</div><!-- /.agent-small -->

					<div class="agent-small">
						<div class="agent-small-inner">
							<div class="agent-small-image">
								<a href="agents-detail.html#" class="agent-small-image-inner">
									<img src="{{ asset('bundles/dashboard/people/03.jpg') }}" alt="">
								</a><!-- /.agent-small-image-inner -->
							</div><!-- /.agent-small-image -->

							<div class="agent-small-content">
								<h3 class="agent-small-title">
									<a href="agents-detail.html#">Lee Izzy</a>
								</h3>

								<div class="agent-small-email">
									<i class="fa fa-at"></i> <a href="agents-detail.html#">E-mail Address</a>
								</div><!-- /.agent-small-email -->

								<div class="agent-small-phone">
									<i class="fa fa-phone"></i> 1401-456-789
								</div><!-- /.agent-small-phone -->
							</div><!-- /.agent-small-content -->
						</div><!-- /.agent-small-inner -->
					</div><!-- /.agent-small -->


					<div class="agent-small">
						<div class="agent-small-inner">
							<div class="agent-small-image">
								<a href="agents-detail.html#" class="agent-small-image-inner">
									<img src="{{ asset('bundles/dashboard/people/04.jpg') }}" alt="">
								</a><!-- /.agent-small-image-inner -->
							</div><!-- /.agent-small-image -->

							<div class="agent-small-content">
								<h3 class="agent-small-title">
									<a href="agents-detail.html#">Derick Brice</a>
								</h3>

								<div class="agent-small-email">
									<i class="fa fa-at"></i> <a href="agents-detail.html#">E-mail Address</a>
								</div><!-- /.agent-small-email -->

								<div class="agent-small-phone">
									<i class="fa fa-phone"></i> 1401-789-123
								</div><!-- /.agent-small-phone -->
							</div><!-- /.agent-small-content -->
						</div><!-- /.agent-small-inner -->
					</div><!-- /.agent-small -->
				</div><!-- /.widget-content -->
			</div><!-- /.widget -->

			<div class="widget widget-primary">
				<div class="widget-content">
					<form method="post" action="http://html.realsite.byaviators.com/agents-detail.html?">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="E-mail address here">
						</div><!-- /.form-group -->

						<button class="btn btn-simple pull-right">Subscribe</button>
					</form>
				</div><!-- /.widget-content -->
			</div><!-- /.widget -->
			<div class="widget">
				<div class="widget-title">
					<h2>Filter Properties</h2>
				</div><!-- /.widget-title -->

				<div class="widget-content">
					<form method="post" action="http://html.realsite.byaviators.com/agents-detail.html?">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Keyword">
						</div><!-- /.form-group -->

						<div class="form-group">
							<select name="property" style="display: none;">
								<option>Property Type</option>
								<option>Apartment</option>
								<option>Condo</option>
								<option>House</option>
								<option>Villa</option>
							</select>
							<div class="btn-group bootstrap-select">
								<button type="button" class="btn dropdown-toggle form-control selectpicker btn-default"
										data-toggle="dropdown" title="Property Type"><span
											class="filter-option pull-left">Property Type</span>&nbsp;<span
											class="caret"></span></button>
								<div class="dropdown-menu open">
									<ul class="dropdown-menu inner selectpicker" role="menu">
										<li data-original-index="0" class="selected"><a tabindex="0" class=""
																						data-normalized-text="<span class=&quot;text&quot;>Property Type</span>"
																						data-tokens="null"><span
														class="text">Property Type</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="1"><a tabindex="0" class=""
																	   data-normalized-text="<span class=&quot;text&quot;>Apartment</span>"
																	   data-tokens="null"><span
														class="text">Apartment</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="2"><a tabindex="0" class=""
																	   data-normalized-text="<span class=&quot;text&quot;>Condo</span>"
																	   data-tokens="null"><span
														class="text">Condo</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="3"><a tabindex="0" class=""
																	   data-normalized-text="<span class=&quot;text&quot;>House</span>"
																	   data-tokens="null"><span
														class="text">House</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="4"><a tabindex="0" class=""
																	   data-normalized-text="<span class=&quot;text&quot;>Villa</span>"
																	   data-tokens="null"><span
														class="text">Villa</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
									</ul>
								</div>
							</div>
						</div><!-- /.form-group -->

						<div class="form-group">
							<select name="contract" style="display: none;">
								<option>Contract</option>
								<option>Rent</option>
								<option>Sale</option>
							</select>
							<div class="btn-group bootstrap-select">
								<button type="button" class="btn dropdown-toggle form-control selectpicker btn-default"
										data-toggle="dropdown" title="Contract"><span class="filter-option pull-left">Contract</span>&nbsp;<span
											class="caret"></span></button>
								<div class="dropdown-menu open">
									<ul class="dropdown-menu inner selectpicker" role="menu">
										<li data-original-index="0" class="selected"><a tabindex="0" class=""
																						data-normalized-text="<span class=&quot;text&quot;>Contract</span>"
																						data-tokens="null"><span
														class="text">Contract</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="1"><a tabindex="0" class=""
																	   data-normalized-text="<span class=&quot;text&quot;>Rent</span>"
																	   data-tokens="null"><span class="text">Rent</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="2"><a tabindex="0" class=""
																	   data-normalized-text="<span class=&quot;text&quot;>Sale</span>"
																	   data-tokens="null"><span class="text">Sale</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
									</ul>
								</div>
							</div>
						</div><!-- /.form-group -->

						<div class="form-group">
							<select name="location" style="display: none;">
								<option>Location</option>
								<option>Kensal</option>
								<option>Braymer</option>
								<option>Horton Bay</option>
								<option>Laurel Run</option>
								<option>Estherville</option>
								<option>Millhousen</option>
								<option>Allegan</option>
								<option>Florala</option>
								<option>Dundarrach</option>
								<option>Neligh</option>
								<option>Roseboro</option>
								<option>Mount Pleasant</option>
								<option>Moro</option>
								<option>Strathmoor Village</option>
								<option>Mabton</option>
								<option>Loup City</option>
								<option>Wolverine</option>
								<option>San Leandro</option>
								<option>Dunwoody</option>
								<option>Battle Ground</option>
								<option>Hanson</option>
								<option>Reedley</option>
								<option>Bayshore</option>
								<option>Tupelo</option>
								<option>Lone Pine</option>
							</select>
							<div class="btn-group bootstrap-select">
								<button type="button" class="btn dropdown-toggle form-control selectpicker btn-default"
										data-toggle="dropdown" title="Location"><span class="filter-option pull-left">Location</span>&nbsp;<span
											class="caret"></span></button>
								<div class="dropdown-menu open">
									<ul class="dropdown-menu inner selectpicker" role="menu">
										<li data-original-index="0" class="selected"><a tabindex="0" class=""
																						data-normalized-text="<span class=&quot;text&quot;>Location</span>"
																						data-tokens="null"><span
														class="text">Location</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="1"><a tabindex="0" class=""
																	   data-normalized-text="<span class=&quot;text&quot;>Kensal</span>"
																	   data-tokens="null"><span
														class="text">Kensal</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="2"><a tabindex="0" class=""
																	   data-normalized-text="<span class=&quot;text&quot;>Braymer</span>"
																	   data-tokens="null"><span
														class="text">Braymer</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="3"><a tabindex="0" class=""
																	   data-normalized-text="<span class=&quot;text&quot;>Horton Bay</span>"
																	   data-tokens="null"><span
														class="text">Horton Bay</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="4"><a tabindex="0" class=""
																	   data-normalized-text="<span class=&quot;text&quot;>Laurel Run</span>"
																	   data-tokens="null"><span
														class="text">Laurel Run</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="5"><a tabindex="0" class=""
																	   data-normalized-text="<span class=&quot;text&quot;>Estherville</span>"
																	   data-tokens="null"><span
														class="text">Estherville</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="6"><a tabindex="0" class=""
																	   data-normalized-text="<span class=&quot;text&quot;>Millhousen</span>"
																	   data-tokens="null"><span
														class="text">Millhousen</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="7"><a tabindex="0" class=""
																	   data-normalized-text="<span class=&quot;text&quot;>Allegan</span>"
																	   data-tokens="null"><span
														class="text">Allegan</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="8"><a tabindex="0" class=""
																	   data-normalized-text="<span class=&quot;text&quot;>Florala</span>"
																	   data-tokens="null"><span
														class="text">Florala</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="9"><a tabindex="0" class=""
																	   data-normalized-text="<span class=&quot;text&quot;>Dundarrach</span>"
																	   data-tokens="null"><span
														class="text">Dundarrach</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="10"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>Neligh</span>"
																		data-tokens="null"><span
														class="text">Neligh</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="11"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>Roseboro</span>"
																		data-tokens="null"><span
														class="text">Roseboro</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="12"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>Mount Pleasant</span>"
																		data-tokens="null"><span class="text">Mount Pleasant</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="13"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>Moro</span>"
																		data-tokens="null"><span
														class="text">Moro</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="14"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>Strathmoor Village</span>"
																		data-tokens="null"><span class="text">Strathmoor Village</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="15"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>Mabton</span>"
																		data-tokens="null"><span
														class="text">Mabton</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="16"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>Loup City</span>"
																		data-tokens="null"><span
														class="text">Loup City</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="17"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>Wolverine</span>"
																		data-tokens="null"><span
														class="text">Wolverine</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="18"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>San Leandro</span>"
																		data-tokens="null"><span class="text">San Leandro</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="19"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>Dunwoody</span>"
																		data-tokens="null"><span
														class="text">Dunwoody</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="20"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>Battle Ground</span>"
																		data-tokens="null"><span class="text">Battle Ground</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="21"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>Hanson</span>"
																		data-tokens="null"><span
														class="text">Hanson</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="22"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>Reedley</span>"
																		data-tokens="null"><span
														class="text">Reedley</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="23"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>Bayshore</span>"
																		data-tokens="null"><span
														class="text">Bayshore</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="24"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>Tupelo</span>"
																		data-tokens="null"><span
														class="text">Tupelo</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
										<li data-original-index="25"><a tabindex="0" class=""
																		data-normalized-text="<span class=&quot;text&quot;>Lone Pine</span>"
																		data-tokens="null"><span
														class="text">Lone Pine</span><span
														class="glyphicon glyphicon-ok check-mark"></span></a></li>
									</ul>
								</div>
							</div>
						</div><!-- /.form-group -->

						<button class="btn btn-lg btn-block">Search</button>
					</form>
				</div><!-- /.widget-content -->
			</div><!-- /.widget -->
		</div><!-- /.sidebar -->
	</div><!-- /.row -->
{% endblock content%}


