<table width="600" cellpadding="0" cellspacing="0" border="0" data-mobile="true" dir="ltr" data-width="674" style="font-size: 16px; background-color: rgb(250, 246, 242);">
  <tbody>
    <tr>
      <td align="center" valign="top" style="padding:0;margin:0;">
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="674" style="padding: 0px; margin: 0px; width: 674px;" class="wrapper">
          <tbody>
            <tr>
              <td align="left" valign="top" style="margin:0;padding:0;">
                <table border="0" cellpadding="0" cellspacing="0" align="center" data-editable="image" data-mobile-width="1" width="98%">
                  <tbody>
                    <tr>
                      <td valign="top" align="center" style="display: inline-block; margin: 0px; padding: 10px; background-color: rgb(59, 59, 59);" class="tdBlock">
                        <img src="https://app.getresponse.com/images/common/templates/messages/133/1/img/01.jpg?img1455763117768" alt="" width="640" border="0" data-origsrc="https://app.getresponse.com/images/common/templates/messages/133/1/img/01.jpg" data-src="https://app.getresponse.com/images/common/templates/messages/133/1/img/01.jpg|640|267|640|267|0|0|1" style="border: 0px none transparent; display: block; width: 100%; max-width: 100% !important;">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td align="left" valign="top" style="margin:0;padding:0;">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="padding:0;margin:0;" data-editable="text">
                  <tbody>
                    <tr>
                      <td align="center" valign="top" style="padding: 15px 10px; margin: 0px; border-width: 0px 7px; border-style: none solid; border-color: rgb(250, 246, 242); font-family: Arial; color: rgb(56, 56, 56); background-color: rgb(255, 255, 255);">
                        <span style="font-family:Arial;color:#383838;font-size:48px;font-weight:bold;">
                           Flyer Template
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
                <tr>
                    <td align="left" valign="top" style="margin:0;padding:0;">
                        <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="padding:0;margin:0;" data-editable="text">
                            <tbody><tr>
                                <td align="left" valign="top" style="padding: 5px 10px 25px; margin: 0px; border-width: 0px 7px; border-style: none solid; border-color: rgb(250, 246, 242); font-family: Arial; color: rgb(106, 106, 106); background-color: rgb(255, 255, 255);">
                                    <span style="font-family:Arial;color:#6a6a6a;font-size:16px;">
                                       Your weekly newsletter keeps subscribers up-to-date with all the latest listings. Encourage direct contact to establish a relationship, so you can pre-qualify buyers and provide sellers with a competitive market analysis.
                                    </span>
                                    <br><br>
                                    <div data-box="button" style="width: 100%; margin-top: 0px; margin-bottom: 0px; text-align: center;"><table border="0" cellpadding="0" cellspacing="0" align="center" style="padding: 0px; margin: 0px auto;" data-editable="button">
                                        <tbody><tr>
                                            <td valign="top" align="center" class="tdBlock" style="display: inline-block; border: 6px solid rgb(201, 0, 18); padding: 10px 4px; margin: 0px; background-color: rgb(215, 0, 19);"><a href="" style="font-family:Arial,sans-serif;color:#ffffff;font-size:18px;font-weight:bold;text-decoration:none;">
                                                    Read more »
                                                </a></td>
                                        </tr>
                                    </tbody></table></div>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" style="margin:0;padding:0;">
                        <table border="0" cellpadding="0" cellspacing="0" align="left" width="100%" style="padding:0;margin:0;">
                            <tbody><tr>
                                <td valign="top" width="33.3%" align="left" style="padding: 0px; margin: 0px;" class="">
                                    <table border="0" cellpadding="0" cellspacing="0" align="left" style="padding:0;margin:0;" width="100%">
                                        <tbody><tr>
                                            <td align="left" valign="top" style="margin:0;padding:0;">
                                                <table border="0" cellpadding="0" cellspacing="0" align="center" style="padding:0;margin:auto;" data-editable="image" data-mobile-width="1" width="94%">
                                                    <tbody><tr>
                                                        <td valign="top" align="center" style="display: inline-block; padding: 10px; margin: 0px; border-width: 10px 0px 0px; border-style: solid none none; border-color: rgb(250, 246, 242); background-color: rgb(59, 59, 59);" class="tdBlock"><img src="https://app.getresponse.com/images/common/templates/messages/133/1/img/02.jpg?img1455763117768" alt="" width="190" height="185" border="0" data-origsrc="https://app.getresponse.com/images/common/templates/messages/133/1/img/02.jpg" data-src="https://app.getresponse.com/images/common/templates/messages/133/1/img/02.jpg|190|185|190|185|0|0|1" style="border: 0px none transparent; display: block;"></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" style="margin:0;padding:0;">
                                                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="padding:0;margin:0;" data-editable="text">
                                                    <tbody><tr>
                                                        <td align="left" valign="top" style="padding: 15px 10px 25px; margin: 0px; border-width: 0px 7px; border-style: none solid; border-color: rgb(250, 246, 242); font-family: Arial; color: rgb(56, 56, 56); background-color: rgb(255, 255, 255);">
                                                            <span style="font-family:Arial;color:#383838;font-size:30px;font-weight:bold;">
                                                               Affordable homes<br>
                                                            </span>
                                                            <span style="font-family:Arial;color:#6a6a6a;font-size:16px;">
                                                               <br>Invite subscribers to request customized listings to match their expectations and budget. It’s a great way to show-off what you can do, wow them with your expertise, and create a buying mindset.
                                                            </span>
                                                            <br><br>
                                                            <div data-box="button" style="width: 100%; margin-top: 0px; margin-bottom: 0px; text-align: center;"><table border="0" cellpadding="0" cellspacing="0" align="center" style="padding: 0px; margin: 0px auto;" data-editable="button">
                                                                <tbody><tr>
                                                                    <td valign="top" align="center" class="tdBlock" style="display: inline-block; border: 6px solid rgb(201, 0, 18); padding: 10px 0px; margin: 0px; background-color: rgb(215, 0, 19);"><a href="" style="font-family:Arial,sans-serif;color:#ffffff;font-size:18px;font-weight:bold;text-decoration:none;">
                                                                            Read more »
                                                                        </a></td>
                                                                </tr>
                                                            </tbody></table></div>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                                <td valign="top" width="33.3%" align="left" style="padding: 0px; margin: 0px;" class="">
                                    <table border="0" cellpadding="0" cellspacing="0" align="left" style="padding:0;margin:0;" width="100%">
                                        <tbody><tr>
                                            <td align="left" valign="top" style="margin:0;padding:0;">
                                                <table border="0" cellpadding="0" cellspacing="0" align="center" style="padding:0;margin:auto;" data-editable="image" data-mobile-width="1" width="93%">
                                                    <tbody><tr>
                                                        <td valign="top" align="center" style="display: inline-block; padding: 10px; margin: 0px; border-width: 10px 0px 0px; border-style: solid none none; border-color: rgb(250, 246, 242); background-color: rgb(59, 59, 59);" class="tdBlock"><img src="https://app.getresponse.com/images/common/templates/messages/133/1/img/03.jpg?img1455763117768" alt="" width="190" height="185" border="0" data-origsrc="https://app.getresponse.com/images/common/templates/messages/133/1/img/03.jpg" data-src="https://app.getresponse.com/images/common/templates/messages/133/1/img/03.jpg|190|185|190|185|0|0|1" style="border: 0px none transparent; display: block;"></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" style="margin:0;padding:0;">
                                                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" data-editable="text">
                                                    <tbody><tr>
                                                        <td align="left" valign="top" style="padding: 15px 10px 25px; margin: 0px; border-width: 0px 7px; border-style: none solid; border-color: rgb(250, 246, 242); font-family: Arial; color: rgb(56, 56, 56); background-color: rgb(255, 255, 255);">
                                                            <span style="font-family:Arial;color:#383838;font-size:30px;font-weight:bold;">
                                                               Listings of the week <br>
                                                            </span>
                                                            <span style="font-family:Arial;color:#6a6a6a;font-size:16px;">
                                                               <br>Create a showcase of hand-picked listings with teaser info to grab their attention. Then lure them to your site where they can filter offers.
                                                            </span>
                                                            <br><br>
                                                            <div data-box="button" style="width: 100%; margin-top: 0px; margin-bottom: 0px; text-align: center;"><table border="0" cellpadding="0" cellspacing="0" align="center" style="padding: 0px; margin: 0px auto;" data-editable="button">
                                                                <tbody><tr>
                                                                    <td valign="top" align="center" class="tdBlock" style="display: inline-block; border: 6px solid rgb(201, 0, 18); padding: 10px 0px; margin: 0px; background-color: rgb(215, 0, 19);"><a href="" style="font-family:Arial,sans-serif;color:#ffffff;font-size:18px;font-weight:bold;text-decoration:none;">
                                                                            Read more »
                                                                        </a></td>
                                                                </tr>
                                                            </tbody></table></div>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                                <td valign="top" width="33.3%" align="left" style="padding: 0px; margin: 0px;" class="">
                                    <table border="0" cellpadding="0" cellspacing="0" align="left" style="padding:0;margin:0;" width="100%">
                                        <tbody><tr>
                                            <td align="left" valign="top" style="margin:0;padding:0;">
                                                <table border="0" cellpadding="0" cellspacing="0" align="center" style="padding:0;margin:auto;" data-editable="image" data-mobile-width="1" width="93%">
                                                    <tbody><tr>
                                                        <td valign="top" align="center" style="display: inline-block; padding: 10px; margin: 0px; border-width: 10px 0px 0px; border-style: solid none none; border-color: rgb(250, 246, 242); background-color: rgb(59, 59, 59);" class="tdBlock"><img src="https://app.getresponse.com/images/common/templates/messages/133/1/img/04.jpg?img1455763117768" alt="" width="190" height="185" border="0" data-origsrc="https://app.getresponse.com/images/common/templates/messages/133/1/img/04.jpg" data-src="https://app.getresponse.com/images/common/templates/messages/133/1/img/04.jpg|190|185|190|185|0|0|1" style="border: 0px none transparent; display: block;"></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" style="margin:0;padding:0;">
                                                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="padding:0;margin:0;" data-editable="text">
                                                    <tbody><tr>
                                                        <td align="left" valign="top" style="padding: 15px 10px 25px; margin: 0px; border-width: 0px 7px; border-style: none solid; border-color: rgb(250, 246, 242); font-family: Arial; color: rgb(56, 56, 56); background-color: rgb(255, 255, 255);">
                                                            <span style="font-family:Arial;color:#383838;font-size:30px;font-weight:bold;">
                                                               Renovation company<br>
                                                            </span>
                                                            <span style="font-family:Arial;color:#6a6a6a;font-size:16px;">
                                                               <br>The footer is a great location for paid or third-party ads. Or use it for a featured listing that’s guaranteed to make them start packing-up their household furnishings today. 
                                                            </span>
                                                            <br><br>
                                                            <div data-box="button" style="width: 100%; margin-top: 0px; margin-bottom: 0px; text-align: center;"><table border="0" cellpadding="0" cellspacing="0" align="center" style="padding: 0px; margin: 0px auto;" data-editable="button">
                                                                <tbody><tr>
                                                                    <td valign="top" align="center" class="tdBlock" style="display: inline-block; border: 6px solid rgb(201, 0, 18); padding: 10px 0px; margin: 0px; background-color: rgb(215, 0, 19);"><a href="" style="font-family:Arial,sans-serif;color:#ffffff;font-size:18px;font-weight:bold;text-decoration:none;">
                                                                            Read more »
                                                                        </a></td>
                                                                </tr>
                                                            </tbody></table></div>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>
