<div class="admin-content-footer">
    <div class="admin-content-footer-inner">
        <div class="container-fluid">
            <div class="admin-content-footer-left">
                &copy; 2015 Realsite - Material Real Estate Template. All rights reserved.
            </div><!-- /.admin-content-footer-left -->

            <div class="admin-content-footer-right">
                Created by <a href="http://byaviators.com">Aviators</a>
            </div><!-- /.admin-content-footer-right -->
        </div><!-- /.container-fluid -->
    </div><!-- /.admin-content-footer-inner -->
</div><!-- /.admin-content-footer -->