<div class="admin-navigation">
    <div class="admin-navigation-inner">
        <nav>
            <ul class="menu">
                <li class="avatar">
                    <a href="admin-dashboard.html#">
                        <img src="{{ asset('bundles/dashboard/people/01.jpg') }}" alt="Avatar">
                                    <span class="avatar-content">
                                        <span class="avatar-title">Livan L. Frometa Osorio</span>
                                        <span class="avatar-subtitle">Project Manager</span>
                                    </span><!-- /.avatar-content -->
                    </a>
                </li>
                <li class=" active ">
                    <a href="admin-dashboard.html"><strong><i class="fa fa-dashboard"></i></strong> <span>Dashboard</span></a>
                </li>
                <li class="">
                    <a href="admin-properties.html"><strong><i class="fa fa-building"></i></strong> <span>Properties</span></a>
                </li>
                <li class="">
                    <a href="admin-property-browser.html"><strong><i class="fa fa-th-list"></i></strong> <span>Property Browser</span></a>
                </li>
                <li class="">
                    <a href="admin-agencies.html"><strong><i class="fa fa-briefcase"></i></strong> <span>Agencies</span></a>
                </li>
                <li class="">
                    <a href="admin-gallery.html"><strong><i class="fa fa-file"></i></strong> <span>Media Files</span></a>
                </li>
                <li class="">
                    <a href="admin-map.html"><strong><i class="fa fa-globe"></i></strong> <span>Flyers</span></a>
                </li>
                <li class="">
                    <a href="admin-people.html"><strong><i class="fa fa-users"></i></strong> <span>Contact</span></a>
                </li>
            </ul>
        </nav>

        <div class="layer"></div>
    </div><!-- /.admin-navigation-inner -->
</div><!-- /.admin-navigation -->




























