{% set error   = app.session.flashbag.get('error')   %}
{% set info    = app.session.flashbag.get('info')    %}
{% set success = app.session.flashbag.get('success') %}
{% set warning = app.session.flashbag.get('warning') %}

{% for msg in warning %}
  <div class="alert alert-dismissible orange lighten-3 orange-text text-darken-2 alert-border-left">
    <strong>Success!</strong> {{ msg }}
    <button class="close">&times;</button>
  </div>
{% endfor %}

{% for msg in error %}
  <div class="alert alert-dismissible red  lighten-3 red-text text-darken-2 alert-border-left">
    <strong>Success!</strong> {{ msg }}
    <button class="close">&times;</button>
  </div>
{% endfor %}

{% for msg in info %}
  <div class="alert alert-dismissible blue  lighten-4 blue-text text-darken-2 alert-border-left">
    <strong>Success!</strong> {{ msg }}
    <button class="close">&times;</button>
  </div>
{% endfor %}

{% for msg in success %}
  <div class="alert alert-dismissible green  lighten-4 green-text text-darken-2 alert-border-left">
    <strong>Success!</strong> {{ msg }}
    <button class="close">&times;</button>
  </div>
{% endfor %}
