<div class="row" style="margin-top: 0px;">
  <div class="col m12">

    <div class="card">
      <div class="title">
        <h5> Images </h5>
      </div>
      <div class="content">
        <div class="row">
          <div class="col m12">
            <div class="row photoswipe-gallery isotope mt-0" data-pswp-uid="1">

              {% for photo in property.getTempPhotos().toArray() %}
                <a class="col s12 m6 l3 item" href="{{ photo }}" data-size="2880x1800"
                   data-med="{{ photo }}"
                   data-med-size="1440x900">
                  <img src="{{ photo }}" alt="">
                </a>
              {% endfor %}
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col m12">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col m12">
    <div class="card">
      <div class="title">
        <h5> Files </h5>
      </div>
      <div class="content">
      </div>
    </div>
  </div>
</div>
