<div class="row" id="main-info">
  <div class="col m12">
    <form action="#!">
      <div class="card">
        <div class="title">
          <h5> Basic Information </h5>
          <div class="btn-group right">
            <a href="#!" class="waves-effect waves-dark btn btn-small">
              <i class="mdi mdi-navigation-chevron-left left"></i> Back
            </a>
            <a href="#!" class="waves-effect waves-dark btn btn-small">
              <i class="mdi mdi-content-save left"></i> Save
            </a>
          </div>
        </div>
        <div class="content" style="padding-top: 5px;padding-bottom: 5px;">
          <div class="input-field">
            <input id="input_name" type="text" name="name" length="100">
            <label for="input_name" class="">Name</label>
          </div>
          <div class="input-field">
            <textarea id="textarea-message" class="materialize-textarea" name="message" length="250"></textarea>
            <label for="textarea-message">Description</label>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="title">
          <h5> Attributes </h5>
        </div>
        <div class="content" style="padding-top: 5px;padding-bottom: 5px;">
          <div class="row" style="margin-top: 5px;">
            <div class="col m6">
              <div class="input-field" style="margin-top: 3px;">
                <i class="mdi-editor-attach-money prefix"></i>
                <input id="input_price" type="text" name="subject">
                <label for="input_price" class="">Price</label>
              </div>
              <div class="input-field" style="margin-top: 0px;">
                <i class="mdi-action-open-with prefix"></i>
                <input id="input_size" type="text" name="subject">
                <label for="input_size" class="">Size</label>
              </div>
              <div class="input-field" style="margin-top: 0px;">
                <i class="mdi-action-invert-colors prefix"></i>
                <input id="input_baths" type="text" name="subject">
                <label for="input_baths" class="">Baths</label>
              </div>
              <div class="input-field" style="margin-top: 0px;">
                <i class="mdi-maps-hotel prefix"></i>
                <input id="input_rooms" type="text" name="subject">
                <label for="input_rooms" class="">Rooms</label>
              </div>
              <div class="input-field" style="margin-top: 0px;">
                <i class="mdi-maps-directions-car prefix"></i>
                <input id="input_garages" type="text" name="subject">
                <label for="input_garages" class="">Garages</label>
              </div>
            </div>
            <div class="col m6">
              <div class="input-field" style="margin-top: 3px;">
                <select class="select2">
                  <option value="AK">Apartament</option>
                  <option value="HI">Condo</option>
                  <option value="HI">House</option>
                  <option value="HI">Villa</option>
                </select>
            </div>
            <p style="margin-top: 35px;">
              <input type="checkbox" id="checkbox4" class="filled-in" checked="checked" />
              <label for="checkbox4">For rent</label>
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="title">
          <h5> Location </h5>
        </div>
        <div class="content" style="padding-top: 5px;padding-bottom: 5px;">
          <div class="row" style="margin-top: 5px">
            <div class="col m12" style="padding-bottom: 5px;">
              <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
              <div id="map-canvas"></div>
            </div>
          </div>
          <div class="row" style="margin-top: 5px">
            <div class="col m6">
              <div class="input-field">
                <i class="mdi-maps-place prefix"></i>
                <input id="input-latitude" type="text" name="subject">
                <label for="input-latitude" class="">Latitude</label>
              </div>
            </div>
            <div class="col m6">
              <div class="input-field">
                <i class="mdi-maps-place prefix"></i>
                <input id="input-longitude" type="text" name="subject">
                <label for="input-longitude" class="">Lontgitude</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>