<div class="row">
  <div class="col m12">

    <div class="card">
      <div class="title">
        <h5> Images </h5>
      </div>
      <div class="content">
        <div class="row">
          <div class="col m12">
            <div class="row photoswipe-gallery isotope mt-0" data-pswp-uid="1">

              {% for i in 0..6 %}
                <a class="col s12 m6 l3 item" href="{{ asset('bundles/dashboard/properties/1.jpg') }}" data-size="2880x1800"
                   data-med="{{ asset('bundles/dashboard/properties/1.jpg') }}"
                   data-med-size="1440x900"
                   data-author="John Doe">
                  <img src="{{ asset('bundles/dashboard/properties/1.jpg') }}" alt="">
                  <figure>Magna tollit mei te</figure>
                </a>
              {% endfor %}
            </div>

          </div>
        </div>


        <div class="row">
          <div class="col m12">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col m12">
    <div class="card">
      <div class="title">
        <h5> Files </h5>
      </div>
      <div class="content">
      </div>
    </div>
  </div>
</div>
