{% extends 'DashboardBundle:Common:backend2.html.twig' %}

{% block content %}
<div class="row">
    <div class="col md12 s12">
        <div class="card">
            <div class="title">
                <h5>Activity</h5>
            </div>
            <div class="content">
                {% if subacount is defined %}
                {# Include Widgets #}
                <div class="col s3">
                    {{ include('DashboardBundle:Activity/Partials:_widgets.html.twig') }}
                </div>

                <div class="col s9">
                    {{ include('DashboardBundle:Activity/Partials:_chart_activity_month.html.twig') }}
                </div>

                {# Include Activity List #}
                {{ include('DashboardBundle:Activity/Partials:_activity_list.html.twig') }}
                {% else %}
                    <div style="text-align: center">
                        <h4> Activity not found </h4>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
{% endblock javascripts%}