<div class="header-call-to-action">
    <h1>Real Estate Material Design Template</h1>
    <h2>
        Ut aliquam sed mauris id sodales. Nulla suscipit, tellus et posuere ornare, lectus tellus volutpat odio, quis laoreet mi enim quis arcu. Curabitur at commodo turpis, at tempus tellus. Duis non quam ut lorem hendrerit dapibus sit amet id quam.
    </h2>

    <div class="buttons">
        <a href="headers-call-to-action.html#" class="btn btn-lg">The agents</a>
        <a href="headers-call-to-action.html#" class="btn btn-lg">The agencies</a>
        <a href="headers-call-to-action.html#" class="btn btn-lg">The users</a>
    </div><!-- /.buttons -->
</div><!-- /.header-call-to-action -->