.card.small .card-image.card-image-profile {
    height: 100%;
}

.pmop-edit:hover {
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.pmop-edit {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    text-align: center;
    padding: 10px 10px 11px;
    -webkit-transition: opacity;
    -o-transition: opacity;
    transition: opacity;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    z-index: 20;
    width: 100%;
    opacity: 0.8;
}

.pmo-block {
    padding: 0px;
}

.pmo-block-tab {
    padding: 25px;
}

.pmo-block > h2 {
    font-size: 16px;
    margin: 0 0 0px;
    color: #424242;
    argin: 0 0 15px;
}

.pmo-contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pmo-contact ul li {
    position: relative;
    padding: 8px 0 8px 35px;
}

.pmo-contact ul li i {
    font-size: 18px;
    vertical-align: top;
    line-height: 100%;
    position: absolute;
    left: 0;
    width: 18px;
    text-align: center;
}

.tab-nav {
    list-style: none;
    padding: 0;
    white-space: nowrap;
    margin: 0;
    overflow: hidden;
    box-shadow: inset 0 -2px 0 0 #eeeeee;
    width: 100%;
}

nav .brand-logo {
    color: #424242;
    font-size: 18px;
}

nav, nav .button-collapse.sp-cancel, nav .button-collapse.sp-cancel i, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 45px;
    line-height: 45px;
}

input[type=date], input[type=datetime-local], input[type=email],
input[type=number], input[type=password], input[type=search],
input[type=tel], input[type=text], input[type=time], input[type=url] {
    height: 45px !important;
    margin: 0 0 1px !important;

    height: 35px !important;
    text-indent: 5px;

    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    box-shadow: inset 0 1px 2px #eee;

}

.input-field {
    margin-top: 1.5rem !important;
}

.input-field label.active {
    transform: translateY(-170%);
    left: 0px;
}

nav, nav .button-collapse.sp-cancel, nav .button-collapse.sp-cancel i, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 25px;
    line-height: 25px;
}

.select2-container .select2-search--inline .select2-search__field {
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    box-shadow: inset 0 0px 0px #eee !important;
}

.select2-selection {
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    box-shadow: inset 0 1px 2px #eee;

    height: 37px !important;
    margin-top: 1px;
    padding-left: 5px !important;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    height: auto !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    height: 30px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 6px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0 0px !important;
}

.select2-container {
    max-width: 100% !important;
    min-width: 100% !important;
}

.input-field .prefix ~ label.active {
    transform: translateY(-170%) !important;
    margin-left: 0px;
}

.input-field > i.prefix {
    text-indent: 5px;
    color: #7C7E89;
}

.input-field > i.prefix + input {
    text-indent: 40px;
}