
.yaybar ul>li.yay-user-info {
    background-color: #176CC1;
}
.nano > .nano-content {
    background-color: #35384C;
}
.yaybar .nano > .nano-content{
    background: #1976D2;
}
.content-wrap .page-title {
    padding: 0.3rem 2rem;
}
.yaybar .nano-content>ul>li.active, .yaybar .nano-content>ul>li.open, .yaybar .nano-content>ul>li>ul {
    background: #1976D2;
}
.card .card-image.image-properties img {
    border-radius: 0px 0px 0 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.26)!important;
    min-height: 192px;
    max-height: 192px;
}
.card.body-properties {
    border-radius: 0px 2px 2px 0px;
    min-height: 192px;
    max-height: 192px;
}
.dark-clare-text {
    color: #616161!important;
}
.dark-text {
    color: #424242!important;
}
.azure-text {
    color: #42A5F5!important;
}
.property-row-location {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: block;
    list-style: none;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
}
.property-row-location li {
    display: inline;
}
.property-row-location li a {
    color: #9E9E9E;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}
.card.body-properties .card-content {
    padding: 5px 15px 15px 15px;
}
.card-action a > i {
    margin-top: -2px;
    font-size: 14px;
}
.card-action a.right > i {
    font-size: 20px;
}
.card-action-properties{
    padding: 13px;
}
.site .card .card-action-properties > a{
    text-transform: none;
}

.card-data-grid {
    margin-top: 0px !important;
}

.card-data-grid div.content {
    padding-top: 1px !important;
    padding-left: 10px;
    padding-right: 10px;
}

#map-canvas {
    height: 350px;
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

input[type=date], input[type=datetime-local], input[type=email],
input[type=number], input[type=password], input[type=search],
input[type=tel], input[type=text], input[type=time], input[type=url] {
    height: 45px !important;
    margin: 0 0 1px !important;

    height: 35px !important;
    text-indent: 5px;

    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    box-shadow: inset 0 1px 2px #eee;

}
.select2-container .select2-search--inline .select2-search__field {
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    box-shadow: inset 0 0px 0px #eee !important;
}

.input-field {
    margin-top: 1.5rem !important;
}

textarea{
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    box-shadow: inset 0 1px 2px #eee !important;
    text-indent: 5px;
    padding: 5px !important;
}

textarea.min-h-80{
    min-height: 80px !important;
}
.select2-selection{
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    box-shadow: inset 0 1px 2px #eee;

    height: 37px !important;
    margin-top: 1px;
    padding-left: 5px !important;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    height: auto !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    height: 30px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 6px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0 0px !important;
}
.select2-container {
    max-width: 100% !important;
    min-width: 100% !important;
}
.input-field label {
    /*left: 0px;*/
}
.input-field label.active {
    transform: translateY(-170%) !important;
    left: 0px;
    font-size: 12px !important;
}
.input-field .prefix~label.active{
    transform: translateY(-170%) !important;
    margin-left: 0px;
}
.input-field > i.prefix{
    text-indent: 5px;
    color: #7C7E89;
}
.input-field > i.prefix + input {
    text-indent: 40px;
}