{% extends 'DashboardBundle:Common:backend2.html.twig' %}

{% block breadcrumb %}
	<li><a href="#">Flyers</a></li>
{% endblock breadcrumb%}

{% block content %}
	{{ grid(grid, 'DashboardBundle:Grid:gridTemplateAjax.html.twig') }}
{% endblock content %}
