{% extends 'DashboardBundle:Common:backend2.html.twig' %}

{% block breadcrumb %}
	<li><a href="#">Flyers</a></li>
{% endblock breadcrumb%}

{% block content %}
	<div class="card card-data-grid">
		<div class="title">
			<h5> Properties </h5>
		</div>
		<div class="content">
			{{ grid(grid, 'DashboardBundle:Grid:gridTemplateAjax.html.twig') }}
		</div>
	</div>
{% endblock content %}
